/.vs/XSharp/v17
/.vs/ProjectSettings.json
/.vs/XSharp/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs
/.vscode
/out/build
/CMakeFiles
/CMakeCache*
/Makefile
/build
/lib*
/bin
/XSharp_TEST
/.cache
/XSharp_TEST_UTILS
cmake_install.cmake
XSharp_TEST_LLVM
anonymous.bc
anonymous.s
anonymous.o
.clangd
shared
test/bin
compile_commands.json
XSharpRuntime/CMakeFiles
XSharpRuntime/Makefile
testcases/arithmetic.xsharp.bc
testcases/helloworld.xsharp.bc
testcases/helloworld.xsharp.o
testcases/helloworld
