################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/XSharp/v17
/.vs/ProjectSettings.json
/.vs/XSharp/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs
/.vscode
/out/build
/CMakeFiles
/CMakeCache*
/Makefile
/build
/lib*
/XSharp_TEST
/.cache
/XSharp_TEST_UTILS
cmake_install.cmake
XSharp_TEST_LLVM
anonymous.bc
anonymous.s
